<main role="main">
    <div class="homeBanner2"></div>
    <div class="container  mt-5 box-shadow">
      <h4>RECENTLY ADDED PRODUCTS</h4>
        <div class="d-flex align-content-start flex-wrap">
            <div class="productContainer" *ngFor="let item of recentProducts">
              <img class="productImage" src="{{item.imageUrl}}" alt="{{item.productName}}">
              <small class="productText d-block">{{item.productName}}</small>
              <small>{{item.color}}</small>
            </div>
        </div>
    </div>
</main>