<div class="w-100">
  <div class="mt-5 text-center align-content-center">
    <h4 class="mb-2">SneakerDrop</h4>
    <div id="registerDiv" class="text-left p-3 box-shadow">
      <form [formGroup]="newUser" (ngSubmit)="registerUser()">
        <div>
          <label for="username" class="btnText">Username</label>
        </div>
        <div>
          <input required type="text" formControlName="username" class="w-100 form-control" placeholder="JohnSmitty123"/>
          <small *ngIf="newUser.get('username')?.errors?.minlength && newUser.get('username')?.dirty || 
            newUser.get('username')?.errors?.required && newUser.get('username')?.dirty" class="text-danger tinyText">
            Required length between 3 to 15.
          </small>
        </div>
        <div>
          <label class="btnText" for="password" >Password</label>
        </div>
        <div>
          <input id="password" formControlName="password" type="password" class="w-100 form-control"/>
          <small  *ngIf="password"  class="text-danger">
            The password length required is 4.
          </small>
        </div>
        <div class="text-center mt-5">
            <button class="w-100 btn btn-success btnText" type="submit">Create your SneakerDrop Account</button>
            <div><span class="btnText">Already have an account? </span><a class="signin w-100 btnText" >Sign in</a></div>
        </div>
      </form>
    </div>
  </div>
</div>
